@charset "UTF-8";

.container{
    display:flex;
   justify-content:center;
   margin-top:5vh;
}


.admin-table{
    border:1px solid black;
    margin-top: 2vh;
    border-collapse: collapse;
    width:100%;
    min-width: 600px;
    border-radius: 7px;
}

.contents{
    width:100%;
    height:500px;
}

.admin-table th{
    border:1px solid black;
    text-align: center;
}

.admin-table td{
    border-bottom:1px solid black;
    border-radius: 7px;
    text-align: center;
}

.admin-table .dark{
    background-color: black;
    color:white;
}

.dark:not(:last-child) th{
    border-right-color:white;
}
.table-list{
    width:100%;
    height:65vh;
}

.admin-table th{
   height:40px;
}

.admin-table td{
   height:36px;
}
.sch-list{
    display:flex;
    align-items: center;
    list-style-type: none;
    margin:0;
    padding: 0;
}


.admin-table td a{
   text-decoration: none;
   color:black;
   cursor: pointer;
}

.admin-table td a:hover{
    color:#8d3d8d;
    font-weight: 600;
}